<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>1019940755554-f7r6jsg4b2d4pbklaf71d3i14q6m6lan.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB8dL00D1BHiK0iFgmHcUOOzQ-ohqdNS60</string>
	<key>GCM_SENDER_ID</key>
	<string>1019940755554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rudraItHub.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>quiz-book-f4711</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-book-f4711.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019940755554:ios:bdd031d266d763d596193b</string>
</dict>
</plist>